.available-assets__wrap {
  @include content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 50px;
  color: #333;


  @include media-md {
   flex-direction: column;
  }

  @include media-exsm {
    // font-size: 18px;
  }
}

.available-assets__list {
  width: 47.25%;
  margin-right: 5.5%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 10px 60px 0px #2727340f;
  text-align: center;
  padding-top: 5.82%;


  @include media-md {
    width: 100%;
    margin: 0;
  }
}

.available-assets__right-part {
  width: 47.25%;

  @include media-md {
    width: 100%;
    padding-top: 40px;
  }
}

.available-assets__text-big {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 42px;
  color: #1aa3ff;
  padding-bottom: 15px;
}

.available-assets__text-small {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 1.6em;
    padding-bottom: 50px;
}

.available-assets__about {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.6em;
}

.available-assets__heading-wrap {
  border-left: 5px solid #ab5eff;
  font-style: italic;
  margin: 20px 0 30px;
  padding-left: 20px;
}

.available-assets__heading {
  padding: 10px;
}
