.basic-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 251px;
  height: 63px;
  background-color: #1ca5ff;
  box-shadow: 0px 30px 40px -16px #1ca5ff3d;
  color: #ffffff;
  border-radius: 100px;
  letter-spacing: 1px;
  font-size: 21px;
  text-transform: uppercase;
  position: relative;

  @include active;
}

.basic-btn--black {
  background-color: #000;

  @include media-md {
    width: 203px;
   }
}

.basic-btn--small {
  width: 90px;
  height: 52px;
  padding: 3px;
}

.basic-btn__cirkle {
  position: relative;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-left: 10px;
}

.basic-btn__arrow {
  position: absolute;
  left: 5px;
  top: 7px;
  border: solid #1ca5ff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.basic-btn__arrow-black {
  position: absolute;
  left: 5px;
  top: 7px;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
