.contact__wrap {
  @include content;
  color: #333;
  display: flex;
  padding: 80px 0 60px 0;
  text-align: right;
}

.contact__left-side {
  width: 47.25%;
  margin-right: 5.5%;
}

.contact__heading {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.3em;
  padding-top: 30px;
}

.contact__right-side {
  width: 47.25%;
}

.contact__img-wrap {
  width: 46%;
  transform: translateX(103px) translateY(21px);
  // margin-left: 0;
}

.contact__img {
  width: 100%;
}
