.experience {
  position: relative;
  margin: 0 40px;
  background-color: #28283f;
  background-image: url('../img/Artboard.png');
  background-repeat: no-repeat;
  background-position: 50%;

  @include media-exsm {
    margin: 0 10px;
  }
}

.experience__bg {
  background-image: url('../img/mask.svg');
  background-size: 167% 33vw;
  height: 33vw;
  transform: rotateY(180deg) rotateX(180deg);
  position: absolute;
  width: 100%;
  bottom: -1px;
  z-index: 1;
}

.experience__wrap {
  @include content;
  text-align: center;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 55px;
}

.experience__about-wrap {
  max-width: 700px;
  margin-bottom: 2.75%;
  margin-left: auto;
  margin-right: auto;

  @include media-exsm {
   padding-bottom: 100px;
  }
}

.experience__heading {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 5px;
  line-height: 1.4em;
}

.experience__text {
  font-family: Open Sans,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  font-size: 21px;

  @include media-exsm {
    font-size: 18px;
  }
}

.experience__img-wrap {
  width: 92%;
  margin-left: auto;
  margin-right: -315px;
  position: relative;
  z-index: 0;

  @include media-md {
    width: 120%;
    margin: 0 auto;
    margin-left: -30px;
  }
}

.experience__img {
  width: 100%;
}
