.expert {
  @include content;
}

.expert__wrap {
  display: flex;


  @include media-md {
    flex-direction: column;
  }

  // @include media-exsm {
  //   font-size: 24px;
  // }
}

.expert__heading {
  font-size: 40px;
  line-height: 1.1em;
  text-align: right;
}

.expert__text {
  color: #666;
  text-align: right;
  padding-bottom: 1em;
  line-height: 1.3em;
  font-family: 'Abril Fatface',display;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 1.3em;


  @include media-md {
    font-size: 16px;
    padding-bottom: 20px;
  }

  @include media-exsm {
    font-size: 14px;
  }
}

.expert__wrap-aboute {
  width: 40%;
  margin-right: 40px;

  @include media-md {
    width: 100%;
    padding-bottom: 20px;
  }
}

.expert__wrap-img {
  width: 60%;

  @include media-md {
    width: 100%;
  }
}

.expert__img {
  width: 100%;
}
